.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}
/*shared style*/
.display-flex{
    display: flex;
    
}
.header{
    max-width: 1160px;
    margin:0 auto;
}
.btn{
    height: 50px;
    width:197px;
    border-radius: 12px;
    font-size:1.25rem;
    color: #FFFFFF;
}

/*navigation-style*/
.navber{
    justify-content: space-around;
    align-items: center;
}
.navber-first{
    gap:11px;
    align-items: center;
}
.nav-img{
    height: 64px;
    width:64px;
}
.nav-title{
    font-size:2rem;
    font-weight: bold;
}
.nav-list{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    font-size:1.25rem;
    font-weight:500;
}
.nav-btn{
    background-color:orange;
    border:1px solid orange;
    font-weight:500;
}
.mobile-only-icon{
    display: none;
}
/*Banner-style*/
.banner-container{
    max-width: 1050px;
    margin:0 auto;
    align-items: center;
    gap:50px;
}
.banner-title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.banner-para{
    font-size: 1rem;
    margin-bottom: 30px;
}
.banner-btn{
    background-color: black;
    border: 1px solid black;
}
.banner-img{
    height: 575px;
    width:auto;
}
/*main-syle*/
/*section1-sttyle*/
.main{

}
.sec-1, 
.sec-2{
    background-image:url(../assets/bg.png);
    background-size: 1440px 880px;
}
.curriculums {
    justify-content: space-between;
    gap: 20px;
}
.curriculum-title{
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    padding-top: 40px;
}
.curriculum-container{
    max-width: 1050px;
    margin:0 auto;
}
.curriculum-box{
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 18px;
    height: 380px;
    width:365px;
    padding: 52px 50px;
    padding-bottom:0px;
    text-align: center;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
#box-1{
    background-color: #DEF5FF;
}
#box-2{
    background-color: #FFF4DC;
}
#box-3{
    background-color: #F2E8FF;
}

.curriculum-name{
    font-size: 1.5rem;
    font-weight: bold;
    color: #202020;
}
.curriculum-des{
    font-size: 0.9rem;
    font-weight: 500;
    color: #808080;
}
.icon{
    max-width: 1050px;
    margin:0 auto;
    height:60px;
    width: 60px;
    margin-top:80px ;
    gap:20px
}
/*Story-style*/
.stories{
    max-width: 1050px;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px;
}
#s-1{
    grid-row:span 2;
}
.story{
    border: 1px solid white;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.stories-container {
    margin: 0 auto;
    max-height: 200px auto 200px;
    padding: 20px;
  }

.story-img {
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 
}
.story-btn{
    height: 40px;
    width:170px;
    border-radius:45px ;
    font-size: 0.9rem;
    font-weight: 500;
    color:#FFFFFF;
    margin-top:-100px;
    margin-left:50px;
}
.b-1{
    background-color:#5D58F0;
    border:1px solid #5D58F0;
}
.b-2{
    background-color:#95B226;
    border:1px solid #95B226;
}
#sn-1{
    font-size: 1.5rem;
    font-weight:bold ;
    padding-left: 2px;
}
#sd-1{
    font-size: 0.9rem;
    font-weight:500;
    color: #666666;
}
.story-name{
    font-size: 0.9rem;
    font-weight:bold ;
    text-align: left;
    padding: 0px 38px;
    margin-top: 10px;
}
.s-btn {
    display: block;
    margin: 0 auto 10px;
    padding: 12px 25px; 
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border: none;
    margin-top:30px;
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/*footer-style*/
.footer-container{
    background-color:#01ACFD ;
    height: 520px;
    margin:0 auto;
}
.footer-description{
    padding: 120px;
    max-width:1000px ;
    justify-content: space-evenly;
    gap: 30px;
    color:#FFFFFF
}
.abt-list{
    list-style: none;
}
.first{
    align-items: center;
}
.foot-sec-2 h4, .foot-sec-3 h4 {
    font-size: 1.2rem; 
    font-weight: 800; 
  }
  .foot-abt{
    list-style: none;
    margin-left: 40px;
}
.foot-abt-k{
    list-style: none;
    margin-left: 25px;
}
@media screen and (max-width:576px){
    .nav-title,
    .navber-sec,
    .navber-third,
    .icon{
        display:none;
    }
    .nav-img{
        position: absolute;
        left: 20px;
        top:20px;
    }
    .banner-container{
        flex-direction: column; 
        align-items: center;
        margin-top:150px;
    }
    .banner-img{
        order: 1;
    }
    .banner-des{
        order:2;
        position: center;
        padding:0 50px;
    }
    .curriculums{
        flex-direction: column;
        align-items: center;
    }
    #s-1{
        display:none;
    }
    .stories {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
        gap: 20px; 
    }
    .footer-description{
        flex-direction: column;
    }
    ..footer-container{
        background-color:#01ACFD ;
        height: 700px;

}